@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    :root {

        /**
         * Default Border-Radius 
         */
        --fluent-shape: 4px;
        --fluent-container-shape: 8px;

        /**
         * Custom Material Icon radius is 4px
         */
        --md-outlined-icon-button-container-shape: var(--fluent-container-shape);
        --md-filled-icon-button-container-shape: var(--fluent-container-shape);
        --md-icon-button-state-layer-shape: var(--fluent-shape);

        --windows-wallpaper-url: url('../imgs/windows-11-minimalism-material-minimal-hd-wallpaper.jpg');
    }
}

@layer components {

    .windows-starts-icon-special-shape {
        border-radius: 2px;
    }

    .wallpaper,
    .lock-screen-wallpaper {
        background-image: var(--windows-wallpaper-url);
        background-position: center;
        background-size: cover;
        /* pointer-events: none; */
        user-select: none;
        z-index: 0;
    }
    .lock-screen-wallpaper {
        animation: scale-from-full-to-125 0.5s cubic-bezier(.54,.01,.44,.9);
        scale: 1.25;
    }

    .brightness::after {
        content: '';
        transition: all 0.5s cubic-bezier(.54,.01,.44,.9);
        position: fixed;
        top: 0;
        bottom: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, var(--system-bright));
        pointer-events: none;
        user-select: none;
        z-index: 99999;
    }
    .nightlight::after {
        content: '';
        transition: all 0.5s cubic-bezier(.54,.01,.44,.9);
        position: fixed;
        top: 0;
        bottom: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 175, 0, var(--system-nightlight-enabled));
        pointer-events: none;
        user-select: none;
        z-index: 99999;
    }

    /**
     * Only used in the StartsBar component
     */
    .back-blur::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        backdrop-filter: blur(28px);
        background-color: rgba(250, 250, 250, 0.8);   
    }
    
    .full-screen {
        position: relative;
        width: 100vw;
        height: 100vh;
    }

    .avatar-panel {
        width: 175px;
        min-width: 50px;
        height: 175px;
        min-height: 50px;
        border-radius: 9999px;
    }



    .setting-list > div {
        border-radius: 4px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 6px;
        padding-bottom: 6px;
        display: flex;
        gap: 4px;
        align-items: center;
        position: relative;
    }
    .setting-list > div:hover {
        background-color: rgb(255 255 255 / 0.75);
    }
    .setting-list > div[data-active="true"] {
        background-color: rgb(255 255 255 / 0.75) !important;
    }
    .setting-list > div[data-active="true"]::after {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: blue;
        width: 8px;
        border-radius: 9999px;
        scale: 50%;
        opacity: 100%;
        animation: settings-lead-in 0.15s cubic-bezier(.54,.01,.44,.9);
    }


    .start-panel.active {
        animation: activeAnimate 0.15s linear;
    }
    .start-panel.inactive {
        animation: inactiveAnimate 0.15s linear;
        opacity: 0;
        user-select: none;
        pointer-events: none;
    }

    .hidden-window {
        animation: hiddenWindowAnimate 0.15s cubic-bezier(.54,.01,.44,.9);
        opacity: 0;
        user-select: none;
        pointer-events: none;
        z-index: -9999;
    }
    .open-window {
        animation: openWindowAnimate 0.15s cubic-bezier(.54,.01,.44,.9);
    }
      
      


    
}

@layer utilities {
    @keyframes activeAnimate {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes inactiveAnimate {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(20px);
        }
    }

    @keyframes hiddenWindowAnimate {
        from {
            opacity: 1;
            transform: translateY(0px);
            scale: 1;
            transform-origin: center;
        }
        to {
            opacity: 0;
            transform: translateY(20px);
            scale: 0.9;
        }
    }
    @keyframes openWindowAnimate {
        from {
          opacity: 0;
          transform: translateY(4px);
          scale: 0.90;
          transform-origin: center;
        }
        to {
          opacity: 1;
          transform: translateY(0px);
          scale: 1;
        }
    }

    @keyframes scale-from-full-to-125 {
        from {
            scale: 1;
        } to {
            scale: 1.25;
        }
    }
    @keyframes settings-lead-in {
        from {
            left: -2%;
            opacity: 0;
        } to {
            left: 0;
            opacity: 100%;
        }
    }
}